div#sidebar-menu li.navbar-heading {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 10px 0 10px 23px;
    cursor: context-menu;
}

ul#data-list li {
    margin-bottom: 10px;
    font-weight: bold;
}

div.panel-icons {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

div.panel-icons a i {
    font-size: 50px;
    padding: 5px;
    border-radius: 5px;
}